In [1]:
import os
import pandas as pd

In [2]:
print("----- Series -----")
your_series = pd.Series([1,2,3,4])
your_series

----- Series -----

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
print("----- Create a DataFrame -----")
df = pd.DataFrame({
    "Integers": [1, 23, 456, 7890],
    "Strings": ['hello', 'pandas', 'world', '!'],
    "Floats": [1.23, 23.5, 45.6, 7.890],
    "Booleans": [True, False, True, False]
})
df.to_csv('test.csv')
df

----- Create a DataFrame -----

   Integers Strings  Floats  Booleans
0         1   hello    1.23      True
1        23  pandas   23.50     False
2       456   world   45.60      True
3      7890       !    7.89     False

In [4]:
print("----- Get a Column of a DataFrame -----")
df["Integers"]

----- Get a Column of a DataFrame -----

0       1
1      23
2     456
3    7890
Name: Integers, dtype: int64

In [5]:
print("----- Create a DataFrame with Existing List -----")
your_list = [4, 8, 12, 16, 20]
df = pd.DataFrame(your_list)
df

----- Create a DataFrame with Existing List -----

    0
0   4
1   8
2  12
3  16
4  20

In [6]:
print("----- Create a DataFrame with Existing csv -----")
csv_path = os.path.join('cities.csv')
# print(csv_path)
df = pd.read_csv(csv_path, delimiter=",")
df

----- Create a DataFrame with Existing csv -----

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
5,36,5,59,"""N""",80,15,0,"""W""","""Winston-Salem""",NC
6,49,52,48,"""N""",97,9,0,"""W""","""Winnipeg""",MB
7,39,11,23,"""N""",78,9,36,"""W""","""Winchester""",VA
8,34,14,24,"""N""",77,55,11,"""W""","""Wilmington""",NC
9,39,45,0,"""N""",75,33,0,"""W""","""Wilmington""",DE
10,48,9,0,"""N""",103,37,12,"""W""","""Williston""",ND
11,41,15,0,"""N""",77,0,0,"""W""","""Williamsport""",PA
12,37,40,48,"""N""",82,16,47,"""W""","""Williamson""",WV
13,33,54,0,"""N""",98,29,23,"""W""","""Wichita Falls""",TX
14,37,41,23,"""N""",97,20,23,"""W""","""Wichita""",KS
15,40,4,11,"""N""",80,43,12,"""W""","""Wheeling""",WV
16,26,43,11,"""N""",80,3,0,"""W""","""West Palm Beach""",FL
17,47,25,11,"""N""",120,19,11,"""W""","""Wenatchee""",WA
18,41,25,11,"""N""",122,23,23,"""W""","""Weed""",CA
19,31,13,11,"""N""",82,20,59,"""W""","""Waycross""",GA
20,44,57,35,"""N""",89,38,23,"""W""","""Wausau""",WI
21,42,21,36,"""N""",87,49,48,"""W""","""Waukegan""",IL
22,44,54,0,"""N""",97,6,36,"""W""","""Watertown""",SD
23,43,58,47,"""N""",75,55,11,"""W""","""Watertown""",NY
24,42,30,0,"""N""",92,20,23,"""W""","""Waterloo""",IA
25,41,32,59,"""N""",73,3,0,"""W""","""Waterbury""",CT
26,38,53,23,"""N""",77,1,47,"""W""","""Washington""",DC
27,41,50,59,"""N""",79,8,23,"""W""","""Warren""",PA
28,46,4,11,"""N""",118,19,48,"""W""","""Walla Walla""",WA
29,31,32,59,"""N""",97,8,23,"""W""","""Waco""",TX
...,...,...,...,...,...,...,...,...,...,...
98,36,40,11,"""N""",121,39,0,"""W""","""Salinas""",CA
99,38,50,24,"""N""",97,36,36,"""W""","""Salina""",KS
100,38,31,47,"""N""",106,0,0,"""W""","""Salida""",CO
101,44,56,23,"""N""",123,1,47,"""W""","""Salem""",OR
102,44,57,0,"""N""",93,5,59,"""W""","""Saint Paul""",MN
103,38,37,11,"""N""",90,11,24,"""W""","""Saint Louis""",MO
104,39,46,12,"""N""",94,50,23,"""W""","""Saint Joseph""",MO
105,42,5,59,"""N""",86,28,48,"""W""","""Saint Joseph""",MI
106,44,25,11,"""N""",72,1,11,"""W""","""Saint Johnsbury""",VT
107,45,34,11,"""N""",94,10,11,"""W""","""Saint Cloud""",MN
108,29,53,23,"""N""",81,19,11,"""W""","""Saint Augustine""",FL
109,43,25,48,"""N""",83,56,24,"""W""","""Saginaw""",MI
110,38,35,24,"""N""",121,29,23,"""W""","""Sacramento""",CA
111,43,36,36,"""N""",72,58,12,"""W""","""Rutland""",VT
112,33,24,0,"""N""",104,31,47,"""W""","""Roswell""",NM
113,35,56,23,"""N""",77,48,0,"""W""","""Rocky Mount""",NC
114,41,35,24,"""N""",109,13,48,"""W""","""Rock Springs""",WY
115,42,16,12,"""N""",89,5,59,"""W""","""Rockford""",IL
116,43,9,35,"""N""",77,36,36,"""W""","""Rochester""",NY
117,44,1,12,"""N""",92,27,35,"""W""","""Rochester""",MN
118,37,16,12,"""N""",79,56,24,"""W""","""Roanoke""",VA
119,37,32,24,"""N""",77,26,59,"""W""","""Richmond""",VA
120,39,49,48,"""N""",84,53,23,"""W""","""Richmond""",IN
121,38,46,12,"""N""",112,5,23,"""W""","""Richfield""",UT
122,45,38,23,"""N""",89,25,11,"""W""","""Rhinelander""",WI
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

In [8]:
df.shape

(128, 10)

In [9]:
df.head(10)

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
5,36,5,59,"""N""",80,15,0,"""W""","""Winston-Salem""",NC
6,49,52,48,"""N""",97,9,0,"""W""","""Winnipeg""",MB
7,39,11,23,"""N""",78,9,36,"""W""","""Winchester""",VA
8,34,14,24,"""N""",77,55,11,"""W""","""Wilmington""",NC
9,39,45,0,"""N""",75,33,0,"""W""","""Wilmington""",DE

In [10]:
df.tail(10)

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
118,37,16,12,"""N""",79,56,24,"""W""","""Roanoke""",VA
119,37,32,24,"""N""",77,26,59,"""W""","""Richmond""",VA
120,39,49,48,"""N""",84,53,23,"""W""","""Richmond""",IN
121,38,46,12,"""N""",112,5,23,"""W""","""Richfield""",UT
122,45,38,23,"""N""",89,25,11,"""W""","""Rhinelander""",WI
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

In [15]:
df.max()
# df.min()
# df.median()

LatD        128
 "LatM"     128
 "LatS"     128
 "NS"       128
 "LonD"     128
 "LonM"     128
 "LonS"     128
 "EW"       128
 "City"     128
 "State"    128
dtype: int64